<h1>Panel Logowania</h1>
<form action="../users/login" method="post">
    <label for="nazwisko">Login:</label>
    <input type="text" id="nazwisko" name="nazwisko"><br><br>
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password"><br><br>
    <input type="submit" value="Zaloguj">
</form>

<a href="../register">Nie masz konta?</a>
