<h1>Rejestracja</h1>
<form action="../users/register" method="post">
    <label for="imie">Imię:</label>
    <input type="text" id="imie" name="imie"><br><br>
    <label for="nazwisko">Nazwisko:</label>
    <input type="text" id="nazwisko" name="nazwisko"><br><br>
    <label for="password">Hasło:</label>
    <input type="password" id="password" name="password"><br><br>
    <label for="email">E-mail:</label>
    <input type="text" id="email" name="email"><br><br>
    <input type="submit" value="Zarejestruj">
</form>
