<h1>Witaj w Galerii Internetowej :)</h1>

<a href="../pictures"><button class="btn btn-primary">Zobacz zdjęcia</button></a> <br /><br />
<a href="../login"><button class="btn btn-primary">Zaloguj się</button></a> <br/><br />
<a href="../register"><button class="btn btn-primary">Zarejestruj się</button></a> <br /><br />
